@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
$fontFamily: 'Montserrat', sans-serif;

$bgColor: #563DD9;
$btnColor: #563DD9;
$logoColor: #563DD9;
$titleColor: #563DD9;
$sideColor: #563DD9;
$navColor: #303030;
$lighterNavColor: #555555;

 //@include mobile {
 //...
 //}


.formContainer {
  background-color: $bgColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2);

    .link {
      color: $titleColor;
    }

    .logo {
      color: $logoColor;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 34px;

      //@include mobile {
      //  display: none;
      //}

      @include tablet {
        display: none;
      }
    }

    .title {
      color: $titleColor;
      font-size: 16px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .input {
        padding: 15px;
        border: none;
        border-bottom: 1px solid #303030;
        border-radius: 0;

        &:focus {
          border-bottom: 1px solid $titleColor;
          box-shadow: none;
        }

        &:hover {
          border-bottom: 1px solid $titleColor;
        }

        &::placeholder {
          color: rgb(175,175,175);
        }
      }

      .button {
        background-color: $btnColor;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        
      }

      .label {}
      //display: flex;
      align-items: center;
      /*justify-content: center;*/
      color: #8da4f1;
      font-size: 12px;
      cursor: pointer;

      img {
        width: 32px;
      }
    }

    .p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: $bgColor;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border-radius: 30px;
    width: 90%;
    height: 90%;
    display: flex;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .2);
    background-color: $bgColor;

    .sidebar {
      flex: 4;
      background-color: rgba(255, 255, 255, 0.05);
      min-width: 140px;

      .navbar {
        display: flex;
        align-items: center;
        background-color: $navColor;
        padding: 15px;
        justify-content: space-between;
        color: white;

        .logo {
          color: $logoColor;
          font-family: $fontFamily;
          font-weight: bold;
          font-size: 30px;

           @include mobile {
           display: none;
           }
        }

        .user {
          display: flex;
          gap: 5px;

          .img {
            background-color: #ffffff;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            object-fit: cover;
          }

          .name {
            font-size: 18px;

            overflow: hidden;
            white-space: nowrap;

            @include mobile {
              display: none;
            }
          }

          .btn {
            color: white;
            background-color: $btnColor;
            border: none;
            font-size: 10px;
            cursor: pointer;
            position: absolute;
            bottom: 10px;

            //display: none;
          }
        }

      }

      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          position: relative;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            padding: 10px;
            border-bottom: 1px solid gray;
            width: 100%;

            &::placeholder {
              color: lightgray;
            }
          }

          .addbtn {
            display: flex;
            position: absolute;
            align-items: center;
            gap: 10px;
            float: right;
            margin-right: 20px;
            border: none;
            padding: 5px 10px;
            color: white;
            background-color: $btnColor;
            top: 5px;
            right: -15px;
          }
        }

        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: rgba(0,0,0,0.1);
          }

          img {
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .userChatInfo {


            span {

            }
          }
        }
      }

      .chats {
        overflow: scroll;
        padding: 0px;

        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;

          img {
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;

            @include mobile {
              display: none;
            }
          }

          .userChatInfo {
            font-size: 24px;

            span {

            }

            .chatlink {
              font-size: 14px;
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }

    .chat {
      flex: 12;

      .chatInfo {
        height: 5%;
        background-color: $navColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        color: lightgray;

        span {

        }

        .chatIcons {

          img {
            height: 24px;
            cursor: pointer;
          }
        }
      }

      .messages {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        height: 88%;
        overflow: scroll;

        ul {

          .sent {
            display: flex;
            gap: 20px;
            flex-direction: row-reverse;

            .messageInfo {
              display: flex;
              flex-direction: column;
              color: gray;
              align-items: center;

              img {
                background-color: white;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
              }

              span {

              }
            }

            .messageContent {
              max-width: 50%;
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-end;

              p {
                background-color: rgba(0, 0, 0, 0.2);
                padding: 10px 20px;
                border-radius: 10px 0px 10px 10px;
                max-width: max-content;
                color: white;
              }

              img {
                width: 50%;
                margin-bottom: 20px;
              }
            }
          }

          .replies {
            display: flex;
            gap: 20px;

            .messageInfo {
              display: flex;
              flex-direction: column;
              color: gray;
              align-items: center;

              img {
                background-color: white;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
              }

              span {

              }
            }

            .messageContent {
              max-width: 50%;
              display: flex;
              flex-direction: column;
              gap: 10px;

              p {
                background-color: rgba(255, 255, 255, 0.75);
                padding: 10px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
              }

              img {
                width: 50%;
                margin-bottom: 20px;
              }
            }
          }
        }
      }

      .messageInput {
        height: 7%;
        background-color: $logoColor;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        form {
          width: 100%;
          margin: 0px;

          input {
            background-color: $logoColor;
            width: 100%;
            border: none;
            outline: none;
            color: white;
            font-size: 18px;

            &::placeholder {
              color: lightgray;
            }
          }

          i {
            display: none;
          }

          p {
            color: white;
            margin: auto;
            font-size: 16px;
          }

          .submit {
            align-items: center;
            gap: 10px;
            float: right;
            margin-right: 20px;
            border: none;
            padding: 5px 10px;
            color: white;
            background-color: $btnColor;
            position: absolute;
            right: 0px;

            p {
              @include mobile {
                display: none;
              }
            }

            .send-img {
              display: none;

              @include mobile {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// NOTFOUND

.notfoundContainer {
  font-family: $fontFamily;
  color: white;
  text-align: center;
  justify-content: center;

  .notfoundCode {
    font-size: 70px;
    font-weight: bold;
  }

  .notfoundText {
    font-size: 25px;
  }

  .notfoundComment {
    font-style: italic;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
  }

  .button {
    background-color: $btnColor;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      background-color: rgba(247, 160, 77, 0.75);
    }
  }
}


// SCROLL

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lighterNavColor;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $navColor;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

// DROPDOWN

.dropdown-toggle {
  text-align: center;
  font-size: 24px;
  background-color: rgba(0,0,0,0);

  //&:after {
  //  display: none;
  //}

  .dropdown-menu {


    .dropdown-item {


    }
  }
}

.dropdown-img {
  width: 24px;
  height: 24px;

  float: left;
}


// ICON

.caret-img {
  fill: white;
}

.send-img {
  fill: white;
  height: 24px;
  width: 24px;
}

//.chevron {
//  transform: rotate(90deg);
//  fill: white;
//}
